/* contants */

$navbar-height: 51px;

/*patterns & colors*/

$coverBackgroundImage: url("../images/coverBGImage.jpeg");
$aboutSectionPattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALElEQVQoU2N0sLb5z4AEfv38ycDGzs6ATjNiU4isEcQGacSqcNREWHgSHY4AftdNJ/NLukQAAAAASUVORK5CYII=);
$resumeSectionPattern: url( "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALUlEQVQoU2O88GLlfwYk8PPHTwZ2DnYGdJoRm0JkjSA2SCNWhaMmwsKT6HAEAAcEXcvx7hmpAAAAAElFTkSuQmCC");


