

/*patterns & colors*/

$aboutSectionPattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQoU2M0dgn9z0AEYAQpZGZmxqn079+/YLlRhViDCCV4iAhvBgCaQSn54VqfjwAAAABJRU5ErkJggg==);
$resumeSectionPattern: url( "https://s23.postimg.org/64qwpjapn/sprinkles_2x.png");

$projectsSectionColor: #EEE;