
#projects-section{
  position:relative;
  padding-top: 20vh;
  padding-bottom: 40vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: $projectsSectionColor;

  }@include media(">=desktop") {
    #projects-section{
      padding-left: 10vw;
      padding-right: 10vw;
    }
}

#projects-title{
  font-size: 90px;
  padding-bottom: 120px;
  text-align: center;

  }@include media("<tablet") {
    #projects-title{
      font-size: 13vw;
    }
}

.project-image{
  height: 200px;
}

.thumbnail{    
    position: relative;
    height: 600px;
    overflow: auto;
}

.thumbnail img{    
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.thumbnail-footer .btn{
  margin-top: 5px;
  margin-left: 5px;
}

.thumbnail-footer{
    position:absolute; 
    bottom:12px;

  }@include media(">=desktop") {
    .thumbnail-footer{
      right:12px;
    }
}