$projectsSectionBgColor: #ecf2df;
$projectsSectionThumbnailBgColor: #f5fffc;

#projectsSection{
  position:relative;
  padding-top: 20vh;
  padding-bottom: 40vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: $projectsSectionBgColor;

  }@include media(">=desktop") {#projects-section{
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

#projectsTitle{
  font-size: 90px;
  padding-bottom: 120px;
  text-align: center;

  }@include media("<tablet") { #projectsTitle{
    font-size: 13vw;
  }
}

.thumbnail{    
  position: relative;
  height: 600px;
  overflow: auto;
  background-color: $projectsSectionThumbnailBgColor;
}

.thumbnail img{    
  width: 100%;
  height: 300px;
  object-fit: cover;

  -webkit-filter: grayscale(40%); /* Safari */
  filter: grayscale(40%);
}

.thumbnail-footer .btn{
  margin-top: 5px;
  margin-left: 5px;
}

.thumbnail-footer{
    position:absolute; 
    bottom:12px;

  }@include media(">=desktop") {.thumbnail-footer{
    right:12px;
  }
}