$projectsSectionBgColor: #ecf2df;
$projectsSectionThumbnailBgColor: #f5fffc;

#projectsSection{
  position:relative;
  padding-top: 20vh;
  padding-bottom: 40vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: $projectsSectionBgColor;

  }@include media(">=desktop") {#projects-section{
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

#projectsTitle{
  padding-bottom: 200px;

  font-family: 'Sansita', sans-serif;
  font-size: 100px;
  color: #393136;
  text-align: center;
  
  }@include media("<tablet") { #projectsTitle{
    font-size: 13vw;
  }
}

.thumbnail{    
  position: relative;
  height: 600px;
  overflow: auto;
  background-color: $projectsSectionThumbnailBgColor;
}

.thumbnail img{    
  width: 100%;
  height: 300px;
  object-fit: cover;

  -webkit-filter: grayscale(40%); /* Safari */
  filter: grayscale(40%);
}

.thumbnail h3{  
  font-family: 'Sansita', sans-serif;
}
.thumbnail p{  
  font-family: 'Montserrat', sans-serif;
}

.thumbnail-footer .btn{
  margin-top: 5px;
  margin-left: 5px;

  font-family: 'Open Sans', sans-serif;
}

.thumbnail-footer{
    position:absolute; 
    bottom:12px;

  }@include media(">=desktop") {.thumbnail-footer{
    right:12px;
  }
}

.text-only-thumbnail{
  padding: 10%;
}
.text-only-thumbnail h3{
  margin-bottom: 20px;
}

