$resumeSectionTitleColor: #403b3c;
$resumeSectionBodyColor: #403b3c;


#resumeSection{
  position:relative;
  background-color: #CC7;
  background-image: $resumeSectionPattern;
  padding-top: 30vh;
  padding-bottom: 60vh;
}

#resumeTitle {
  margin-top: 0;
  padding-bottom: 40px;
  
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 90px;
  color: $resumeSectionTitleColor;
  text-align: center;

  }@include media("<=tablet") {#resumeTitle{
    font-size: 13vw;
  }
}

#resumeSection p{
  padding-left: 25%;
  padding-right: 25%;

  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: $resumeSectionBodyColor;
  text-align: center;

  }@include media("<=phone") {#resumeSection p{
    padding-left: 30px;
    padding-right: 30px;
  }
}

#resumeButton{
  margin-top: 55px;
  font-size: 30px;
}