@import 'general';

#resume-section{
  position:relative;
  background-color: #CC7;
  background-image: $resumeSectionPattern;
  padding-top: 30vh;
  padding-bottom: 60vh;
}

.section-resume-side-padding{
  padding-left: 25%;
  padding-right: 25%;
}
@media (max-width:800px) {
  .section-resume-side-padding{
    padding-left: 30px;
    padding-right: 30px;
  }
}

#resume-section p{
  font-size: 20px;
  font-weight: bold;
  color: #555;
  text-align: center;
  
  @extend .section-resume-side-padding;
}

#resume-title {
  margin-top: 0;
  padding-bottom: 40px;
  
  font-weight: bold;
  text-align: center;
  font-size: 10vw;
  color: #444;
  
  @extend .section-about-side-padding
}

#resume-button-p{
  padding-top: 55px;
}